.container-fluid {
    margin-top: 70px;
    margin-bottom: 60px;
}

.container-fluid > .row > .px-5 {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

div > p:first-child {
    font-size: 40px;
    font-family: meno-banner, serif;
}

.row > div > img {
    box-shadow: 20px 20px 0 0 rgba(201, 238, 247, 1);
}