.navbar.navbar-dark {
    height: 50px;
padding: 0;
    background-color: lightgray;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.navbar-brand > img {
    height: 45px;
    padding-bottom: 7px;
}
.navbar-brand {
    padding: 0;
}

.social-media-icons {
    display: flex;
}

.social-media-column {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    right: 0;
    bottom: 0;
}

.fa {
    box-sizing: content-box;
    padding: 7px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0 2px;
    border-radius: 50%;
    background: gray;
    color: white;
}

.fa:hover {
    opacity: 0.7;
    color: darkgray;
    text-decoration: none;
}