.text-center{
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    justify-content: center;
}

.extra_padding{
    padding: 7rem 4rem 0 4rem;
}
