.navbar.navbar-light {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0 1rem;
    background-color: white;
}
.navbar-brand {
    font-size: 40px;
    font-family: meno-banner-condensed, serif;
    font-weight: 700;
    font-style: normal;
}

.navbar-collapse>.navbar-nav {
    align-items: center;
    margin-bottom: 100%;
}

.nav-link {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: grey;
    font-size: 12px;
    padding: 0;
}

.nav-item > .nav-link {
    font-size: 24px;
    padding: 10px;
}

.nav-link:hover {
    color: black;
}

hr {
    width: 90%;
}


.buttcap {
    border-left: 1px solid black;
    height: 12px;
    margin: 12px;
}