.card {
    border-radius: 0;
}

.row {
    background-color: white;
}

.container-fluid {
    margin-top: 70px;
    margin-bottom: 60px;
}

h2 {
    border-bottom: 1px solid grey;
    width: fit-content;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 5%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
}
.text {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    width: fit-content;
    color: rgba(255, 255, 255, 0);
    display: flex;
}

.subheader {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: rgba(255, 255, 255, 0);
}

.overlay.button {
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    color: rgba(0, 0, 0, 0);
    padding-right: 10px;
    font-size: 10px;
    cursor: pointer;
}

.custom-modal {
    padding: 0 10%;
    height: 90%;
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 255, 255, .8);
    align-items: baseline;
    overflow-y: scroll;
}

.custom-show {
    display: flex;
}

.card:hover .overlay {
    background-color: rgba(255, 255, 255, .25);
}

.card:hover .text {
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.card:hover .subheader {
    color: rgba(0, 0, 0, 1);
}

.card:hover .button {
    color: rgba(0, 0, 0, 1);
}

td, p {

    font-family: mr-eaves-modern, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

th {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: bold;
    font-style: normal;
}

.custom-font {
    font-family: meno-banner, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
}